*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: arial,sans-serif;
}

.input{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 45px;
    align-items: center;
    border-radius: 50px;
    margin: 0 5%;
    border: none;
    outline: none;
    box-shadow: 2px 2px 2px 4px #88888813;
    cursor: pointer;
    
}
.input:hover{
    box-shadow: 4px 2px 4px 4px #88888823;
}

i {
    font-size: 14px;
}
input {
    width: 500px;
   border: none;
    outline: none;
    text-align: center;
    font-size: 18px;
    margin: 5px;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: transparent;
    
}

section1 {
    width: 100%;
    overflow: hidden;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    
}

.nav {
    margin: 2%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 69px;
    width: 95%;
    left: 0;
    margin-bottom: 10px;
    /* border-bottom: 0 1px 6px 0 rgb(32 33 36 / 28%); */
}

.nav-bar {
    display: flex;
    
}

.nav-logo{
    height: 30px;
    margin: 5px;
    width: 92px;
}

.input-icon-div {
    border-right: 2px solid #88888813;
     flex: 1; 
     display: flex;
    justify-content: space-between;
}

.input-icon-div > img{
    margin-right: 20px;
}

.input-icon1 {
    margin: 0  15px; 
}
.input-icon2{
    width: 20px; 
    margin-right: 15px;
}
.input-icon2{
    margin-right: 15px;
}
.nav-icon1, .nav-icon2{
    margin-right: 20px;
}
.nav-icon3{
    border-radius: 50%;
}

section2{
    font-size: 14px;
    background: #fff;
    height: 58px;
    color: #70757a;
    font-family: Google Sans,arial,sans-serif;
}
.section-2 {
    display: flex;
     justify-content: space-around; 
     width: 85%; 
     margin: auto 0;  
}
.section2-iconDiv {
    display: flex; 
    justify-content: flex-start;
}
.tools {
    justify-content: space-between; 
    margin-top: 20px;
}

.section3-btn{
    background-color: rgba(135, 207, 235, 0.342);
    border: none;
    outline: none;
    border-radius: 50px;
    width: fit-content;
    padding: 15px 25px;
    margin-left: 10px;
    margin-top: 10px;
}

#btn1{
    border: 1px solid skyblue;
}
.section3-p1 {
 margin-bottom: 10px;
}
.section3-flexedDiv {
    display: flex; 
    margin-top: 20px;
    margin-bottom: 20px;
}
.section3-flexedDiv2{
    display: flex;
    justify-content: center;
}
#section3-p2 {
    padding-top: 10px; 
    padding-bottom: 10px;
}

#grid-img {
    display: flex; 
    flex-direction: column;
}
#item1{
    width: 350px;
    height: 300px; 
    border-bottom-left-radius: 20px; 
    border-top-left-radius: 20px;
}
#item2 {
    width:200px; 
    height: 150px; 
    border-top-right-radius: 20px; 
    margin-left: 2px; margin-bottom: 2px;
}
#item3 {
    width: 200px; 
    height: 150px;
    border-bottom-right-radius: 20px;
    margin-left: 2px;
}
a >img {
margin-right: 40px ;
}

hr{
    background-color: #888888;
}

table {
    border-collapse: collapse;
}
td, th {
    border-bottom: 1px solid #888888;
    text-align: left;
    padding: 20px;
}
.grid-img {
    display: flex;
}

.full-body {
    width: 71%;
    margin: 0 auto;
    
}

.section4-div {
    display: flex;
    margin-bottom: 20px;
}

.card {
    background-color: rgba(187, 187, 187, 0.144);
     width: 245px; 
     height: 300px;
    border-bottom-right-radius: 20px;
     border-bottom-left-radius: 20px;
    margin-left: 20px; 
    margin-right: 20px;
}
#p{
    color: #000;
    padding: 10px;
}
.smaller-p, #smaller-p, .small-p{
    color: gray;
    font-size: 12px;
    padding: 10px;
}
#smaller-p {
    padding-top: 0;
}
.small-p {
    padding-top: 20px;
}
.card-body {
    background-color: #bbb;
    max-width: 40vh;
}
.flexed-p{
    display: flex;
}
.card2 {
display: flex; 
flex-direction: column;
}
.card2-body {
    background-color:rgba(135, 207, 235, 0.178);
     height: 150px; 
     width: 250px; margin-bottom: 20px;
    border-radius: 20px;  
}
.card2-div1{
    display: flex; 
    justify-content: center;
     align-items: center;
}
.card2-div2{
    max-width: 30vh;
    padding: 10px;
}
.div2-flex{
    display: flex; 
    justify-content: center;
    align-items: center; 
}
.card2-img{
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}
.card2-small-p, .card2-small{
    font-size: 12px;
    color: gray;
}

.card2-small-p{
    padding-top: 30px;
}
.card2-small{
    padding-left: 10px;
    padding-right: 10px;
}
.div-cards{
    display: flex;
}
.card3 {
    background-color:rgba(135, 207, 235, 0.178);
    width: 120px; 
    height: 130px; 
    color: #202124;
    margin-right: 20px;
    border-radius: 20px;
    padding: 10px;
}
.card4 {
    background-color:rgba(135, 207, 235, 0.178);
    width: 110px; 
    height: 130px;
    color: #202124;
    border-radius: 20px;
    padding:  10px;
}
.card3-div{
    margin-top: 70px;
}
.card4-div {
    margin-top: 50px;
}
.card4:hover, .card3:hover{
    background-color:rgba(112, 128, 144, 0.432);
}
.card2-body:hover {
    background-color: rgba(128, 128, 128, 0.178);
}

a {
    color: #1a0dab;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}
section5{
    width: 100%;
}
.section5-bigDiv{
    display: flex;
    margin-top: 40px;
    
}
#section5-subDiv1 {
    width: 65%;
    padding-right: 50px;
    line-height: 1.58;
    text-align: left;
    font-family: arial,sans-serif;
}
#section5-subDiv1 >div {
    line-height: 1.58;
    text-align: left;
}
.section5-subDiv1-flex{
    display: flex;
    margin-bottom: 10px;
}
#section5-subDiv1 img {
    margin-left: 15px;
}
.subDiv-div1 {
    color: black;
    font-size: 16px;
}
.subDiv-div1 >div {
    display: flex;
}
.subDiv-div2 {
    display: flex; 
    flex-direction: column;
    margin-top: 10px; 
    border-right: 1px solid gray; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.subDiv-div2 >div {
    display: flex;
    justify-content: center;
}
.topStories-style {
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    white-space: normal;
    color: #1a0dab;
}
.top-stories-flex{
    display: flex;

}
.first-div{
    border-bottom: 1px solid gray; 
    margin-bottom: 20px; 
    width: fit-content;
}
.subDiv-div3 {
    display: flex; 
    flex-direction: column;
    margin-top: 10px; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#first-div{
    border-bottom: 1px solid gray;
    margin-bottom: 20px; 
    width: fit-content;
}
#first-div, #second-div{
    width: fit-content;
}
.image-topStories{
    height: fit-content;
    border-radius: 20px;
}
.first, .second, .third{
    display: flex;
}
#h3 {
    font-size: 24px;
    line-height: 18px;
}
.subDiv-div4, .subDiv-div5, .subDiv-div6, .subDiv-div7{
    display: flex; 
    justify-content: space-between; 
    border-bottom: 1px solid gray; 
    padding: 10px;
}
.subDiv-div8{
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #1a0dab;
}
.subDiv-div9{
    line-height: 1.58;
    text-align: left;
}
.subDiv-div10{
    margin-top: 50px;
    margin-bottom: 20px;
}
.div10-1{
    margin-bottom: 20px;
}
#card1, #card2, #card3 {
    border: 1px solid gray;
    width: 100%; 
    height: 60vh;
    margin-right: 10px;
}
#card2{
    width: 100%;
}

.div10-img{
    display: block;
    width: 150px;
    text-align: center;
    margin-bottom: 20px;
    
}
.subDiv-div10 p{
    padding: 0 10px;
}
.flexed-title{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.span{
    margin-top: 80px;
}
.span2{
    margin-top: 165px;
}
.div10-div1, .div10-div2{
    margin-top: 30px;
}
.subDiv-div9, .subDiv-div8{
    margin: 30px 0 ;
}
.subDiv-div11, .subDiv-div12, .subDiv-div13, .subDiv-div14, .subDiv-div15{
    display: flex; 
    justify-content: space-between; 
    border-bottom: 1px solid gray; padding: 10px;
}
.subDiv-div16 {
    display: flex; 
    justify-content: space-between;
}
#div16-div1, #div16-div2, 
#div16-div3, #div16-div4, #div16-div5,
 #div16-div6, #div16-div7, #div16-div8 {
    display: flex; 
    background-color: #bbb; 
    width: 300px; border-radius: 50px; 
    align-content: center;
    padding: 10px; margin: 10px;
}
.subDiv-div16{
    margin-top: 20px;
}
.subDiv-div16 img {
    padding-left: 10px ;
}
.subDiv-div16 p {
    padding-left: 25px ;
}
.subDiv-div17 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.section5-subDiv1{
    width: 30%; 
    font-size: 14px;
    margin-top: 30px;
}

#top-stories {
    margin-top: 20px;
}
.seeMore-btn {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    font-size: 14px;
    font-family: arial,sans-serif;
    font-weight: 400;
    width: 300px;
    height: 36px;
    border-radius: 18px;
    background-color: #f1f3f4;
    border: none;
    padding-top: 15px;
margin-bottom: 30px;
}

.view-all{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    font-size: 14px;
    font-family: arial,sans-serif;
    font-weight: 400;
    width: 300px;
    height: 36px;
    border-radius: 18px;
    background-color: #f1f3f4;
    border: none;
}
.subDiv-div9 >div{
    margin-bottom: 30px;
}

.section5-subDiv2{
    width: 45%;
    
}

.subDiv2-content{
    border-left: 1px solid gray; 
    padding-left: 20px;
    
}
.content-div1 {
    line-height: 1.58;
    color: #4d5156;
}
.content-div2 {
    margin-top: 10px;
    line-height: 22px;
}
.content-div2 p {
    margin-bottom: 10px;
}
#content-btn {
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-size: 14px;
    border-radius: 20px;
    padding: 8px 16px 8px 36px;
    border: 1px solid rgba(128, 128, 128, 0.568);
    margin-bottom: 5px;
    background-color: #fff;
}
#content-btn:hover{
    background-color: #f1f3f4;
}
#content-btn img {
    width: 20px;
}
#feedback {
    text-align: end;
}
.content-div3{
    color: #202124;
    font-size: 14px;
    line-height: 1.34; 
    margin-top: 10px;
}
.content-div3 >div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-div3 >div>a{
    text-decoration: none;
    color: #000;
    margin: 5px;
}
.content-div3 >div>a>p{
    font-size: 15px;
    text-align: center;
}
.content-div3 img{
    width: 55px;
    padding-left: 25px;

}
.content-div4{
    margin-top: 20px;
}
.content-div4 h4{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: left;
}
.content-div4 span{
    
    text-align: left;
    
}
.content-div4 p, .head{
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    color: #70757a
}
table{
    font-weight: normal;
    padding: 2px 0;
    font-size: 14px;
    text-indent: initial;
    border-spacing: 2px;
    width: 100%;
}
tr{
    margin-top: 15px;
}
td{
    padding: 8px 0px;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    
}
.first-tableBody{
    width: 100px;
}
.centered{
    text-align: center;
}
#last-td{
    padding-bottom: 10px;
}
.content-div5{
    margin-top: 20px;
}
.content-div5>h4{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    color: #70757a;
    font-weight: normal;
}

.content-div5 >div{
    display: flex;
    width: 100%;
}
.content-div5 >div>a{
    color: #70757a;
    text-decoration: none;
}
.content-div5 >div>a:hover{
    text-decoration: underline;
}
.content-div5 img {
    width: 70px;
    border-radius: 20px;
}
.content5-imgs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content-btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    font-size: 14px;
    font-family: arial,sans-serif;
    font-weight: 400;
    width: 300px;
    height: 36px;
    border-radius: 18px;
    background-color: #f1f3f4;
    border: none;
    margin-top: 20px;
}
#btn-p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    padding-left: 0;
    padding-right: 8px;
    max-width: 200px;
    color: #202124;
}
.content-btn2 img {
    width: 20px;
}
.content5-imgs{
    margin-left: 30px;
}
.subDiv2-content{
    margin-right: 20px;
}

.footer {
    background-color: rgba(128, 128, 128, 0.274);
    margin-top: 30px;
}
.footer-div1 {
    border: 1px solid #bbb;
}
.footer-div1 >div {
    width: 40%; 
    margin-left: 100px; 
    display: flex; 
    padding: 20px;
}
.footer-div1 >div >div{
    border-right: 1px solid #bbb;
     margin-right:10px
}

.footer-div2 {
    display: flex; 
    justify-content: space-between; 
    width: 30%; margin-left: 100px; 
    padding: 20px;
}
#video3, #video2, #video1{
    margin: 10px 0px;
    font-size: 14px;
    color: #000;
}
.subDiv-div8 a:hover {
    text-decoration: underline;
}
.subDiv-div8 p{
    padding-left: 20px ;
}
.subDiv-div8 a{
    display: block;
    padding-left: 20px ;
    padding-bottom: 10px;
}



@media screen and (max-width: 1250px) {
    body{
       max-width: 100vw;
       max-height: 100vh;
       margin: 10px 10px;
       font-size: 14px;
    }

.nav{
    flex-direction: column;
    margin-bottom: 70px;
}
.icons-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.input input{
    width: 100%;
}
section2{
    width: 100vw;
    height: 100vh;
}
 #item3{
    width: 100px;
    height: 100px;
}
 #item2{
    width: 100px;
    height: 100px;
}

#item1{
    width: 200px;
    height: 200px;
}
.content5-imgs{
    flex-wrap: wrap;
}
.section3-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#subDiv-Div{
    width: 100vw;
}
.subDiv-div16{
    flex-direction: column;
}
#twitter-flex, .subDiv-div17{
    flex-direction: column;
}
.profiles-div{
    display: flex;
    
}
.section5-bigDiv{
    flex-direction: column;
}
.full-body{
    width: 100vw;
}
.subDiv2-content{
    border: none;
    margin-top: 20px;
}
.top-stories-flex{
    flex-direction: column;
}
#card1, #card2, #card3{
    height: 20%;
    width: 60%;
    margin-bottom: 20px;
}
#card1 .div10-img, #card2 .div10-img, #card3 .div10-img{
    height: 20%;
    width: 50%;
    text-align: center;
}
    /* .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.input{
    width: 300px;
}
input{
    width: 100px;
}
.nav-bar {
        flex-direction: column;
    }
.nav-icons{
    flex-wrap: wrap;
}
.nav-icon3{
    border-radius: 50%;
} */
.section4-div{
    flex-wrap: wrap;
}


}
